.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .modes {
        .dark {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            p {
                top: -1rem;
                text-transform: uppercase;
                color: $greyBlue;
                font-weight: bold;
                letter-spacing: 0.25rem;
            }
        }
    }
}