.header-container {
    .logo {
        color: #222731;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .modes {
        .dark {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            p {
                top: -1rem;
                text-transform: uppercase;
                color: $greyBlue;
                font-weight: bold;
                letter-spacing: 0.25rem;
            }
        }
        // don't understand why I have to declare a .hide rule here instead of reusing the global one
        .hide {
            display: none;
        }
        .light {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            p {
                top: -1rem;
                text-transform: uppercase;
                color: $white;
                font-weight: bold;
                letter-spacing: 0.25rem;
            }
        }
        // don't understand why I have to declare a .hide rule here instead of reusing the global one
        .hide {
            display: none;
        }
    }
}