*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Space Mono', monospace;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

/* TYPOGRAPHY */
:root {
  --paragraph-mobile: 1.3rem;
  --heading: 2.6rem;
  --heading-secondary: 2.2rem;
  --heading-tertiary: 1.6rem;
  --heading-quarternary: 1.3rem;
  --paragraph: 1.5rem;
}

body {
  background: #F6F8FF;
  padding: 3.1rem 2.4rem;
}

h1, h2, h3, h4, p, li, ul, span, a, button {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}

h1 {
  line-height: 3.8rem;
  font-size: var(--heading);
}

h2 {
  line-height: 3.3rem;
}

h3 {
  line-height: 2.4rem;
}

h4 {
  line-height: 2rem;
}

p {
  line-height: 2.5rem;
  font-size: var(--paragraph-mobile);
}

button {
  border: none;
  background-color: transparent;
  font-size: var(--paragraph-mobile);
}

.hide-for-mobile {
  display: none;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .modes .dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.header-container .modes .dark p {
  top: -1rem;
  text-transform: uppercase;
  color: #4B6A9B;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.search-container {
  background-color: #FEFEFE;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 4rem;
}

.search-container .search-icon {
  padding-left: 1.6rem;
  cursor: pointer;
}

.search-container .search-text {
  font-size: 1.1rem;
  color: #4B6A9B;
  cursor: pointer;
}

.search-container .search-button {
  cursor: pointer;
}

.search-container .search-button button {
  background-color: #0079FF;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.2rem 1.4rem;
  border-radius: 10px;
  margin: 0.7rem 0.7rem 0.7rem;
  margin-left: 0;
  cursor: pointer;
}

.main-container {
  background-color: #FEFEFE;
  padding: 3.2rem 2rem 4.8rem 2.4rem;
  border-radius: 15px;
  margin: 1.6rem 0 3.2rem 0;
}

.main-container .upper-main-subcontainer .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 3.4rem;
}

.main-container .upper-main-subcontainer .main-info .profile-picture-container #profile-picture {
  height: 7rem;
  width: 7rem;
  border-radius: 90px;
}

.main-container .upper-main-subcontainer .main-info .personal-info .name {
  font-size: 1.6rem;
}

.main-container .upper-main-subcontainer .main-info .personal-info .handle {
  color: #0079FF;
}

.main-container .upper-main-subcontainer .main-info .personal-info .join-date {
  color: #697C9A;
}

.main-container .upper-main-subcontainer .bio-container {
  margin-bottom: 2.3rem;
}

.main-container .upper-main-subcontainer .bio-container .bio {
  color: #4B6A9B;
}

.main-container .lower-main-subcontainer .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F8FF;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2.4rem;
}

.main-container .lower-main-subcontainer .stats-container .stat-item {
  position: relative;
}

.main-container .lower-main-subcontainer .stats-container .stat-item .stats-heading {
  color: #4B6A9B;
  font-size: 1.1rem;
  font-weight: lighter;
}

.main-container .lower-main-subcontainer .stats-container .stat-item .stat {
  font-size: 1.6rem;
  color: #2B3442;
  margin: 0 auto;
}

.main-container .lower-main-subcontainer .stats-container .stat-item .repos {
  width: 25%;
}

.main-container .lower-main-subcontainer .stats-container .stat-item .followers {
  width: 60%;
}

.main-container .lower-main-subcontainer .stats-container .stat-item .following {
  width: 25%;
}

.main-container .lower-main-subcontainer .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1rem;
}

.main-container .lower-main-subcontainer .link-container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.main-container .lower-main-subcontainer .link-container .link .link-paragraph {
  color: #4B6A9B;
}
/*# sourceMappingURL=styles.css.map */